body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
nav{
    display: flex;
    background-color: red;
}
nav ul{
    display: flex;  
}
nav .navbar1{
    margin-left: 450px;
}
nav .navbar1 li{
    padding: 10px 100px 0px 0px;
}
nav ul li{
    /* text-decoration: none; */
    /* padding: 0px 100px 0px 0px; */
    font-size: 20px;
    list-style-type: none;
}
nav .logo{
    margin-left:200px ;
    padding: 0px 100px 0px 0px;
}
nav ul li img{
    width: 80px;
    border-radius: 50%;
    padding: 0px;
    margin-left: -100px;
}