

.layoutcontainer{
    margin: 0px 25px 0px 25px;
}


.navimg img{
    width: 100%;
    height: 500px;
}
/* ----------------home page --------------- */
.homeid{
    border: 2px solid rgb(217, 151, 151);
}
.him1{
    width: 250px;
    height: 350px;
    margin: 10px 05px 05px 05px;
}

div .himg {
    width: 300px;
    height: 350px;
    margin: 10px 05px 05px 05px;
    
}
div .himg1 {
    width: 740px;
    height: 350px;
    margin: 05px 05px 05px 0px;
     
}

div .himg2 {
    width: 680px;
    height: 350px;
    margin: 10px 0px 10px 10px;
  }  

.HomeFooter{
    background-color: rgb(28, 165, 165);
    height: 300px;
    margin-top: 20px;
    margin-bottom: 05px;
}

.contactme{
    position: absolute;
    top: 100px;
}
/* ----------------home page --------------- */



/* ----------contact us page ----------------- */
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
  /* -----------end contact us page ------- */